[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
# render stuff
start = "python canvas.py"
# render stuff with autoreload when files change
dev = "python autoreload.py python canvas.py"
# record rendering session
rec = "asciinema rec -c \"pipenv run start\""
